body,html{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: #000000;
    text-shadow: 0px 0px 3px #000000;
    color: #ffffff;
}

#player {
    width: 100%;
    height: 100%;
    background: #403A3A;
    z-index: 0;
}

#peers {
    z-index: 10;
    font-size: small;
    position: absolute;
    top: 10px;
    left: 10px;
}

#speed {
    z-index: 10;
    font-size: small;
    position: absolute;
    top: 25px;
    left: 10px;
}

#topmenu {
    z-index:10;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#background {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}

#imdbStars {
    position: absolute;
    top: 10px;
    right: 10px;
}

#imdbGenres {
    position: absolute;
    top: 30px;
    right: 10px;
    color: #ff9a00;
}

#imdbDescription {
    position: absolute;
    top: 50px;
    right: 10px;
    margin: 10% 10% 10% 10%;
    color: #fac200;
}

#bandwidth {
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
}

.pieces {
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 8px;
    padding: 0px;
    margin: 0px;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.piecetrue {
    background: lightskyblue !important;
    height: 100%;
    display: table-cell;
}

.piecefalse {
    display: table-cell;
    height: 100%;
}

.infoBtn {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
    background-image: url(../img/info.svg);
}